{% extends 'base.html' %}

{% block title %} Inobu Satu Data {% endblock title %} 
{% block body %}
<div class="container">
    <h1 class="mt-5">Selamat Datang di Inobu Satu Data</h1>
    <h5 class="mt-5">Silakan buka Catalog Data untuk mendapatkan data mentah untuk dianalisis</h5>
    <h5 class="mt-5">Silakan buka Product Data untuk mendapatkan hasil visualisasi data</h5>
    <h5 class="mt-5">Jika anda kesulitan untuk menggunakan aplikasi ini, silahkan untuk membaca Documentation</h5>
</div>
{% endblock body %} 