{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Add Product Data | Document {% endblock title %}
{% block head %} 
    <style>
        .document_style{
            width: 500px;
            margin: auto;
        }
    </style>
{% endblock head %}

{% block body %}
    <div class="container mt-4 mb-4 document_style">
        <h3>Add Document</h3>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ document_form|crispy }}
            <input type="submit" value="Add Document" class="btn btn-success">
        </form>
    </div>
{% endblock body %}