{% extends 'base.html' %}


{% block title %} Catalog Data | REST API {% endblock title %} 
{% block head %}
<style>
  .link-style{
    text-decoration: none;
    color: black;
  }

  .link-style:hover{
    text-decoration: none;
    color: grey;
  }
</style>
{% endblock head %}

{% block body %}
{% include 'catalog/catalog_restapi_navbar.html' %}
<div class="container mt-4">
  {% for catalog in catalog_list %}
  <span class="badge rounded-pill bg-primary">Author: {{catalog.author}}</span>
  <span class="badge rounded-pill bg-info">Published at: {{catalog.published}} Jakarta Time</span>
  <span class="badge rounded-pill bg-warning text-dark">Format: {{catalog.category}}</span>
  <h2><a class="link-style" href="{% url 'catalog_details' catalog.slug %}">{{catalog.title}}</a></h2>
  {% for tag in catalog.tags.all %}
  <span class="badge rounded-pill bg-success">{{tag}}</span>
  {% endfor %}
  <hr>
  {% endfor %}
</div>
{% endblock body %}
