{%extends 'base.html' %}

{%block title%} Catalog Details {%endblock%}
{%block style%} {%endblock%}
{%block body%} 
    <div class="container mt-4">
        <h1> {{catalog.title}} </h1>
        <h6> Published {{catalog.published}} by <i> {{catalog.author}} </i> </h6>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Url data</span>
            <input type="text" class="form-control" value="{{catalog.url}}" readonly>
        </div>
        <h5>Deskripsi</h5>
        <p> {{catalog.description}} </p>
    </div> 
{%endblock%}